*,
*:before,
*:after{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    height: 100vh;
    background: linear-gradient(135deg, black, #1b912f) 
}

.Logo {
    display: flex;
    width: 90px; /* Set a fixed width */
    height: 50px; /* Set a fixed height */
    align-items: center; /* Align items vertically in the center */
  }

.Logo img {
    max-width: 85%;
    margin-left: 20px;
    object-fit: cover;/* Maintain aspect ratio and cover container */
    z-index: 1; /* Place it above other content */
}

.Logo header{
    font-size: 18px;
    color: #fff;
    font-weight: 600;
    line-height: 33px;
    position: relative;
    margin-left: 20px;
    margin-top: -12px;
    font-family: "Roboto Mono", monospace;
}

.PC header{
    font-size: 10px;
    color: #fff;
    position: relative;
    margin-left: 118px;
    margin-top: -20px;
    font-family: "Roboto Mono", monospace;
}

.EnterPass header{
    margin-top: 16px;
    text-align: center;
    font-size: 38px;
    color: #fff;
    font-weight: 600;
    line-height: 30px;
    position: relative;
    font-family: "Roboto Mono", monospace;
}
  
.EnterPass p{
    text-align: center;
    font-size: 15px;
    color: #46ca2b;
    font-weight: 10;
    position: relative;
    font-family: "Roboto Mono", monospace;
    margin-bottom: 20px;
    margin-top: 10px;
}

.custom-checkbox {
    width: 16px;
    height: 16px;
    cursor: pointer;
    position: relative;
    margin-top: 10px;
}

.custom-checkbox:checked {
    background-color: #333;
    border-color: #333;
    
}

.checkbox-label{
    font-family: "Roboto Mono", monospace;
    color: #fff;
    position: absolute;
    font-size: 12px;
    margin-left: 12px;
    margin-top: 12px;
}

.container{
    width: 350px;
    position: relative;
    margin: auto;
}

input,
p{
    font-family: "Roboto Mono", monospace;
}
input{
    width: 100%;
    height: 40px;
    padding: 0 40px 0 20px;
    position: relative;
    background-color: #fff;
    border: none;
    outline: none;
}

#toggle{
    position: absolute;
    top: 12px;
    right: 15px;
    color: #808080;
    cursor: pointer;
}

.container .strength_bar{
    background-color: #dcdcdc;
    height: 5px;
    position: relative;
    font-family: "Roboto Mono", monospace;
}

.container .strength_bar::before{
    content: '';
    position: absolute;
    width: 0;
    height: 100%;
    transition: 0.5s;
}

.container.veryweak .strength_bar::before{
    width: 20%;
    background: #f00;
    filter: drop-shadow(0 0 5px #f00);
}

.container.weak .strength_bar::before{
    width: 40%;
    background: #ff6600;
    filter: drop-shadow(0 0 5px #ff6600);
}

.container.moderate .strength_bar::before{
    width: 60%;
    background:#ffa500;
    filter: drop-shadow(0 0 5px #ffa500);
}

.container.strong .strength_bar::before{
    width: 80%;
    background:#7ee617;
    filter: drop-shadow(0 0 5px #7ee617);
}

.container.verystrong .strength_bar::before{
    width: 100%;
    background:#00cc00;
    filter: drop-shadow(0 0 5px #00cc00);
}

.container .strength_bar::after{
    position: absolute;
    color: #dcdcdc;
    transition: 0.5s;
    font-weight: 200;
    margin-top: 65px;
    font-size: 30px;
}

.container.veryweak .strength_bar::after{
    content: 'Very Weak';
    color: #f00;
    filter: drop-shadow(0 0 5px #f00);
    margin-left: 100px;
}

.container.weak .strength_bar::after{
    content: 'Weak';
    color: #ff6600;
    filter: drop-shadow(0 0 5px #ff6600);
    margin-left: 145px;
}

.container.moderate .strength_bar::after{
    content: 'Moderate';
    color: #ffa500;
    filter: drop-shadow(0 0 5px #ffa500);
    margin-left: 110px;
}

.container.strong .strength_bar::after{
    content: 'Strong';
    color: #7ee617;
    filter: drop-shadow(0 0 5px #7ee617);
    margin-left: 125px;
}

.container.verystrong .strength_bar::after{
    content: 'Very Strong';
    color: #00cc00;
    filter: drop-shadow(0 0 5px #00cc00);
    margin-left: 80px;
}

#text p {
    margin-top: 10px;
}

p{
    width: 100%;
    text-align: center;
    margin-top: 20px;
}

.messages-container {
    box-sizing: border-box; /* Include padding and border within the specified width */
    display: flex; /* Use flexbox */
    justify-content: space-between; /* Space evenly between sections */
    padding-left: 12px;
    padding-right: 12px;
    top: 35px;
    left: 75px;
    position: relative;
    background-color: black;
    width: 1200px;
    height: 265px;
}

/* Style the left section */
.left-section {
    flex-basis: 58%; /* Set the initial size of the left section */
}

.left-section p{
    text-align: left;
    color: white;
    font-size: 14px;
    margin-top: 10px;
    position: relative;
    padding: 2px;
}

/* Style the right section */
.right-section {
    flex-basis: 40%; /* Set the initial size of the right section */
    margin-top: 25px;
    position: relative;
    padding: 5px;
}


#length-message{
    margin-top: 17px;   
}
/*
#complexity-message{
    
}

#entropy-message{
    
}

#passreuse-message{

}
*/

label[for="option"] {
    color: white;
    font-family: "Roboto Mono", monospace;
    font-size: 14px;
    padding-left: 30px;
}

#BF{
    color: #46ca2b;
    font-family: "Roboto Mono", monospace;
    font-size: 14px;
    margin-top: -10px;
    margin-bottom: -10px;
}

#Note::before{
    Content: "Note: ";
    color: #f00;
    font-weight: bold;
    font-family: "Roboto Mono", monospace;
    font-size: 12px;
    margin-bottom: 10px;
}

#Note{
    color: white;
    font-family: "Roboto Mono", monospace;
    font-size: 12px;
    margin-bottom: 10px;
}

#took{
    color: white;
    font-family: "Roboto Mono", monospace;
    font-size: 14px;
    margin-top: 15px;
}

#bruteForceTimeMessage{
    color: #46ca2b;
    font-family: "Roboto Mono", monospace;
    font-size: 30px;
    margin-top: 10px;
    text-align: center;
}

#length-message::before {
    content: ">> Length:";
    color: #46ca2b;
}

#complexity-message::before {
    content: ">> Complexity:";
    color: #46ca2b;
}

#entropy-message::before {
    content: ">> Entropy:";
    color: #46ca2b;
}

#predectability-message::before {
    content: ">> Predectability:";
    color: #46ca2b;
}

#keyboard-message::before {
    content: ">> Keyboard Pattern:";
    color: #46ca2b;
}

#dictionary-message::before {
    content: ">> Dictionary Words:";
    color: #46ca2b;
}

#passreuse-message::before {
    content: ">> Password Reuse:";
    color: #46ca2b;
}

#tips-message::before {
    content: "Tips:";
    color: #f00;
    font-weight: bold;
}

#tips-message {
    color: white;
    font-size: 12px;
    padding: 8px;
    background-color: black;
    width: 900px;
    left: 250px;
    margin-top: -10px;
    margin-bottom: 10px;
    position: relative;
}

.black-rectangle {
    background-color: black;
    width: 100%;
    height: 50px; /* Adjust the height as needed */
    position: fixed;
    top: 0;
    left: 0;
}

#didyouknow {
    color: #f00;
    font-weight: bold;
    margin-top: 10px;
    margin-bottom: -15px;
}

#info {
    color: white;
    font-size: 12px;
}
